body {
  background-color: #f4f4f4;
  font-family: Arial, sans-serif;
  ;
}

button {
  display: block;
  margin: 10px 0;
  font-size: 20px;
  text-align: center;
}
  
p {
  font-weight: bold;
  font-size: 18px;
} 

li{
  font-size: 18px;
}
  
input[type="text"], input[type="number"] {
  display:block;
  margin: 10px 0;
  padding: 10px;
  width: 200px;
  font-size: 19px;
}
  
Label {
  font-size: 22px;
  padding: 10px;
  display: block;
  margin: 10px 10px 10px 0;
}

select{
 font-size: 20px;
}

